<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!users?.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="users.length">
    <thead>
      <tr>
        <th>Steam ID</th>
        <th>Steam ID64</th>
        <th>Name</th>
        <th>Avatar</th>
        <!-- Add more headers for other fields as needed -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.steamId }}</td>
        <td>{{ user.steamId64 }}</td>
        <td>{{ user.name }}</td>
        <td><img src="{{ user.avatar }}" /></td>
        <!-- Add more cells for other fields as needed -->
        {{ user.summary }}
      </tr>
    </tbody>
  </table>
